<% if notice != nil %>
  <p id="notice" class="alert alert-success alert-dismissable" role="alert">
  	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </p>
<% end %>

<% if @student.avatar_file_name != nil %>
	<%= image_tag @student.avatar.url(:medium), style: "padding-top: 15px" %>
<% end %>
<h2><%= "#{@student.name}" %></h2>
<p>Age: <%= @student.age %></p>
<p>Interests: <%= @student.interests %></p>

<div class="actions form-group">
	<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-danger" %>
	<%= link_to 'Back', students_path, class: "btn btn-info" %>
</div>

