<% if notice != nil %>
  <p id="notice" class="alert alert-success alert-dismissable" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </p>
<% end %>

<h1>Pets</h1>

<div class="row">
<div class="col-md-4 col-md-offset-4 text-center">
<%= link_to 'New Pet', new_pet_path, class: "btn btn-info" %>
</div>
</div> 

<br>



<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-md-3" id="lil_div">
      <div class="well">
        <h2><%= "#{pet.name}" %></h2>
        <p>Age: <%= pet.age %></p>
        <p>Breed: <%= pet.breed %></p>
        <p><%= link_to 'Show', pet, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-warning" %>
        <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
      </div>
    </div>
  <% end %>
</div>

