<%= form_for(teacher) do |f| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.number_field :age, class: "form-control", placeholder: "Age" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.text_field :interests, class: "form-control", placeholder: "Interests" %>
    </div>
  </div>

  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
